{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-multi-spaces": ["error", { "ignoreEOLComments": false }],
    "arrow-parens": ["error", "always"], 
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": false }],
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "space-before-function-paren": ["error", "always"],  // 在函數前加一個空格
    "space-before-blocks": ["error", "always"],  // 在區塊前加一個空格
    "template-curly-spacing": ["error", "always"],  // 在模板字元內加一個空格
    "rest-spread-spacing": ["error", "always"],  // 在展開運算符前後加空格
    "computed-property-spacing": ["error", "always"],  // 在計算屬性括號內加空格
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true}]  // 在冒號前不加空格，後加空格
  }
}
